/* 공통 스크롤바 (Chrome/Edge/Safari) */
.custom-scroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #ff8a00;
    border-radius: 4px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #ff9500;
  }
  
  /* Firefox */
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #ff8a00 #f1f1f1;
  }
  