.table-wrapper {
  margin-top: 16px;
  border-radius: 16px;
  overflow: auto;
  border: 1px solid #e6e6e6;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  background-color: #fff;
  display: table;
  table-layout: fixed;
}

.table thead {
  display: table-header-group;
  width: 100%;
}

.table tbody {
  display: table-row-group;
  width: 100%;
}

.table thead th {
  background-color: #f8f0ff;
  font-weight: 600;
  color: #51368a;
  padding: 12px 8px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  font-size: 14px;
}

.table tbody tr {
  display: table-row;
  width: 100%;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  font-size: 14px;
}



.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.badge-yes {
  color: #0066ff;
  background-color: #e6f2ff;
}

.badge-no {
  color: #ff0000;
  background-color: #ffe6e6;
}

.badge-plan {
  color: #fff;
  background-color: #ff8a00;
}

/* 교양필수 테이블 */
.table--liberal-required td:nth-child(2) {
    padding-left: 16px;
    padding-right: 8px;
}

.table--liberal-required td:nth-child(3) {
    padding-left: 16px;
    padding-right: 8px;
}

