.table-wrapper {
  margin-top: 16px;
  border-radius: 16px;
  /* overflow: auto; */
  border: 1px solid #e6e6e6;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  background-color: #fff;
  display: table;
  table-layout: fixed;
}

.table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table tbody {
  display: block;
  max-height: 220px;        
  overflow-y: auto;         
  scrollbar-gutter: stable; 
}


.table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}


.table thead th {
  background-color: #f8f0ff;
  font-weight: 600;
  color: #51368a;
  padding: 12px 8px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  font-size: 14px;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  font-size: 14px;
}



.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.badge-yes {
  color: #0066ff;
  background-color: #e6f2ff;
}

.badge-no {
  color: #ff0000;
  background-color: #ffe6e6;
}

.badge-plan {
  color: #fff;
  background-color: #ff8a00;
}

/* 교양필수: 가운데 정렬 강제 */
.table--liberal-required td {
  text-align: center !important;
}

/* MSC: 가운데 정렬 */
.table--msc td {
  text-align: center !important;
}

.table td:nth-child(2) {
  padding-right: 5px !important; /* 학점과 동일하게 */
}